*{
    font-family: "Courgette";
}

body{
    background-color: #27005D;
}

#main-title{
    color: #AED2FF;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
}

#main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9400FF;
    height: 500px;
    width: 800px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text{
    color: #E4F1FF;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.img{
    padding-left: 50px;
}

footer
{
    color: #AED2FF;
    text-align: center;
}

@media (max-width:900px)
{
    #main-section{
        flex-direction: column;
        height: 750px;
        width: 100%;
    }
    #section1{
        display: inline-block;
    }
    #section2{
        display: inline-block;
    }
}